<aside class="logo">
    {% if page.url == '/index.html' or page.url == '/' %}
        {% assign link = '/about' %}
        {% assign prompt = 'About the Author'
	%}
    {% else %}
        {% assign link = '/' %}
        {% assign prompt = 'Back to Home' %}
    {% endif %}

    <a href="{{ link | prepend: site.baseurl }}" style="
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        ">
        <img class="gravatar" src="/profile_pic.png" style="
            width: 190px;
            height: 190px;
            margin: 0px;
        "/>
    </a>
    <span class="logo-prompt">{{ prompt }}</span>

</aside>